/*first row*/

#nav-first-row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:dodgerblue;
    position: fixed;
    top: 0;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    height: 50px;
    font-size: larger;
}

#nav-first-row li {
    display: inline;
}

#nav-first-row li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-first-row li a:hover:not(.active) {
    background-color: #111;
}

#nav-first-row .active {
    background-color: #4CAF50;
}








/*second row*/

#nav-second-row{
	/*border:1px solid #ccc;
	border-width:1px 0;*/
	list-style:none;
	margin-top:50px;
	padding:0;
	text-align:center;
	background-color: white;
    vertical-align: middle;
}
#nav-second-row li{
	position:relative;
	display:inline;
}
#nav-second-row a{
	display:inline-block;
    padding:10px;
}
#nav-second-row ul{
	position:absolute;
	left:-9999px;
	margin:0;
	padding:0;
	text-align:left;
}
#nav-second-row ul li{
	display:block;
}
#nav-second-row li:hover a{
	text-decoration:none;
    background: black;
    color: white;
}
#nav-second-row li:hover ul a{
	text-decoration:none;
	background:dodgerblue;
    color: white;
}
#nav-second-row li:hover ul a:hover{
	text-decoration:none;
	background: black;
}
#nav-second-row ul a{
	white-space:nowrap;
	display:block;
	border-bottom:1px solid #ccc;
}
#nav-second-row a{
	color: black;;
	text-decoration:none;
}
#nav-second-row a:hover{
	text-decoration:none;
	background:white;
}
#nav-second-row md-icon{
    vertical-align: middle;
    color: gray;
}


/* DASHBOARD icon */


/* PROTOCOL DEFINITIONS menu */

#protocol-definitions-menu a{
    text-align: left;
}

#protocol-definitions-menu ul{
	width: 290px;
    text-align: left;
}

#protocol-definitions-menu:hover ul{
	left:0;
}
#protocol-definitions-menu:hover ul a{
	text-decoration:none;
	background:dodgerblue;
    color: white;
    margin-left: 0;
}
#protocol-definitions-menu:hover ul a:hover{
	text-decoration:none;
	background: black;
}
#protocol-definitions-menu:hover{
	text-decoration:none;
	background:white;
}


/* PLATES menu */

#plates-menu:hover ul{
	right:0;
    left: auto;
    /*margin-right: -30px;*/
    text-align: right;
}
#plates-menu:hover ul a{
	text-decoration:none;
	background:dodgerblue;
    color: white;
    margin-right: 0px;
}
#plates-menu:hover ul a:hover{
	text-decoration:none;
	background: black;
}
#plates-menu:hover{
	text-decoration:none;
	background:white;
}