<nav class="nav nav--red">
    <ul class="nav__list">
        <li class="nav__list__item"><a href="">Loret2</a></li>
        <li class="nav__list__item"><a href="">Nobis2</a></li>
        <li class="nav__list__item"><a href="">Nostrum1</a></li>
        <li class="nav__list__item"><a href="">Quia3</a></li>
        <li class="nav__list__item"><a href="">Nonw3</a></li>
        <li class="nav__list__item"><a href="">Voluptate2</a></li>
        <li class="nav__list__item"><a href="">Magni</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>