
    <div >
        <ul id="nav-first-row">
            <div style="float: left">
                <li>
                    <a href="default.asp"> {{title}} </a>
                </li>
            </div>
            <div style="float: right">
                <li style="float: left"><a href="about.asp"> LOG IN </a></li>
                <li style="float: left"><a href="about.asp"> SIGN UP </a></li>
                <li style="float: right">
                    <a href="about.asp"> ABOUT </a>
                </li>
            </div>
        </ul>
    </div>
    <span>
    <!--<div>
        <li id="dashboard">
                <a href="#">
                    <md-icon svgSrc="/src/assets/ic_dashboard_black_24px.svg"></md-icon>
                </a>
            </li>
    </div>>-->
    <div>        
        <ul id="nav-second-row"> 	
            <li id="protocol-definitions-menu">
                <!--<span><a href="/about/">PROTOCOL DEFINITIONS<md-icon svgSrc="/src/assets/ic_keyboard_arrow_down_black_24px.svg"></md-icon></a></span>-->
                <a href="/about/"> PROTOCOL DEFINITIONS </a>
                <ul>
                    <li><a href="#">MASTER DATA</a></li>
                    <li><a href="#">PROTOCOL METHODS</a></li>
                    <li><a href="#">PROTOCOLS FILE UPLOAD</a></li>
                </ul>   
            </li>
            <li id="plates-menu">
                <!--<span><a href="/about/">PLATES<md-icon svgSrc="/src/assets/ic_keyboard_arrow_down_black_24px.svg"></md-icon></a></span>-->
                <a href="/about/"> PLATES </a>
                <ul>
                    <li><a href="#">PLATE EVENETS </a></li>
                    <li><a href="#">PLATE STATUS</a></li>
                    <li><a href="#">HAMILTON GENERATED FILES ON PLATES</a></li>
                </ul>
            </li>   
        </ul>
    </div>
    </span>
<router-outlet></router-outlet>